@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
}


/*---------------------Headers and text */

h1, h2, h3, p {
    color: rgb(48, 49, 49);
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 1.2rem;
   
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

/*------------------Navbar */

.navbar-collapse {
    text-align: left;
}

/*------------------Hero section */

.hero-container {
    background-image: url("../images/header-img3.jpg");
    width: 100%;
    height: 52rem;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
}

.logo-container {
   width: 8rem;
}

.header-logo {
    width: 100%;
}

.logo-row {
    margin: 10rem 0 0;
}

.hero-header {
     font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0 0 0 0.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    color: rgb(51, 54, 61);
}

.subheader-container {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 7rem 0 0;
    width: 90%;
}

.hero-subheader {
    margin: 1rem 0 1rem;
    color: rgb(71, 71, 68);
    
}


.home-nav-icon {
    width: 60%;
    margin: 2rem 0;
}

.icon-link {
    color: rgb(87, 156, 202);
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem 0 0;
}

/*-------------------Testimonials section */


.carousel {
    padding: 2rem;
}

.carousel-indicator {
    margin-top: 2rem;
}

.carousel-control-next, .carousel-control-prev {
    margin: -1rem;
}

/*------------------ Info section */

.info-header-img-container {
    position: relative;
    height: 20rem;
    margin: 2rem 0 0;
}

.info-header-container {
    position: relative;
    bottom: 12rem;
}

.info-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    object-position: center 0;
    overflow: hidden;
}

/*---------------------About section */

.about-container {
    background-color: rgb(48, 49, 49);
    padding: 1rem 1rem 2rem;
    margin: 3rem 0;
}

.about-text {
    color: #fff;
}

.portrait-img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin: 2rem 0;
    border: 0.2rem solid rgb(209, 183, 98);
}

/*-------------------- Contact section */

.contact-form {
    border: 0.05rem solid #000;
    border-radius: 3rem;
    padding: 3rem 2rem;
    margin: 2rem 0;
}

/*-------------------- Media Queries */

@media screen and (min-width: 576px) {
    .logo-container {
        width: 10rem;
}

    .hero-header {
        font-size: 1.4rem;
    }

    .carousel {
        width: 70%;
        margin: 0 auto;
    }

    .contact-form {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .logo-container {
        width: 12rem;
    }
    .hero-header {
        font-size: 1.6rem;
        margin: 0 0 0 2rem;
    }
    .subheader-container {
        width: 80%;
    }
      .contact-form {
        width: 60%;
    }
}

@media screen and (min-width: 991px) {
    .carousel {
        width: 50%;
    }
    .subheader-container {
        width: 60%;
    }
}