@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700 &family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-color: rgb(253, 253, 253);
}


/*---------------------Headers and text */

h1,
h2,
h3,
p {
    color: #444B54;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 1.2rem;

}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

/*------------------Navbar */

.navbar-collapse {
    text-align: left;
}

/*------------------Hero section */

.hero-container {
    background-image: url("../images/header-img3.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 52rem;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
}

.logo-container {
    width: 8rem;
}

.header-logo {
    width: 100%;
}

.logo-row {
    margin: 10rem 0 0;
}

.hero-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 0 0.7rem;
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    color: rgb(60, 99, 150);
}


/* Code for frosted glass effect comes from: 
https://daily-dev-tips.com/posts/css-frosted-glass-credit-card/ */

.glass-container {
    position: relative;
    margin: 8rem 0 0;
    height: 22rem;
    /*box-shadow: 0 0 1rem 0 rgba(61, 61, 61, 0.2);*/
    overflow: hidden;
    opacity: 0;
}

.glass-container:before {
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(10px) saturate(80%) contrast(45%) brightness(130%);
    filter: drop-shadow(.2rem .2rem .5rem rgb(88, 88, 88));
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}

.subheader-container {
    padding-bottom: 22rem;
}

.subheader-content-container {
    position: relative;
    height: 22rem;
    margin-top: -22rem;
    z-index: 3;
}

.subheader-text {
    margin: 0;
}

.hero-subheader {
    margin: 2.5rem 0 1rem;
    color: rgb(71, 71, 68);
    letter-spacing: 0.03rem;
    font-family: 'Montserrat', sans-serif;

}

.home-nav-icon-container {
    width: 60%;
    margin: 2rem;
}

.home-nav-icon {
    width: 3rem;
    height: 3rem;
}

.icon-link {
    color: #3d3f3f;
    text-decoration: none;
    margin: 0 auto 1rem;
}

/*-------------------Testimonials section */


/*
.carousel {
    padding: 2rem;
}

.carousel-indicator {
    margin-top: 2rem;
}

.carousel-control-next,
.carousel-control-prev {
    margin: -1rem;
}*/

/*---------------------About section */

.about-container {
    
    padding: 1rem 1rem 2rem;
}

.portrait-img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin: 2rem 0;
    filter: drop-shadow(.2rem .2rem .5rem rgb(88, 88, 88));
}

.omdömen-container {
     background-color: rgb(231, 235, 236);
}

/*------------------ Info section */

.info-header-img-container {
    position: relative;
    height: 20rem;
    margin: 2rem 0 0;
}

.info-header-container {
    position: relative;
    bottom: 12rem;
}

.info-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    object-position: center 0;
    overflow: hidden;
}

.info-header {
    /*color: rgb(209, 183, 98);*/
}



/*-------------------- Contact section */
/*
 .form-back-container {
    padding-bottom: 22rem;
}

.form-container {
    position: relative;
    height: 22rem;
    margin-top: -22rem;
    z-index: 1030;
}
*/
.contact-form {
    border: 0.05rem solid #000;
    border-radius: 3rem;
    padding: 3rem 2rem;
    margin: 2rem 0;
}

/*-------------------- Media Queries */

@media screen and(min-width: 576px) {
    .logo-container {
        width: 10rem;
    }

    .hero-header {
        font-size: 1.6rem;
    }

    .glass-container {
        margin: 11rem 0 0;
    }

    .carousel {
        width: 70%;
        margin: 0 auto;
    }

    .contact-form {
        width: 80%;
    }
}

@media screen and(min-width: 768px) {
    .logo-container {
        width: 12rem;
    }
    .hero-header {
        font-size: 1.6rem;
        margin: 0 0 0 2rem;
    }
    .subheader-container {
        padding-bottom: 20rem;
    }

    .subheader-text {
        font-size: 1rem;
    }

    .glass-container {
        height: 20rem;
        margin: 6rem 0 0;
    }

    .subheader-content-container {
        margin-top: -20rem;
        height: 20rem;
    }

    .contact-form {
        width: 60%;
    }
}

@media screen and(min-width: 991px) {
    .carousel {
        width: 50%;
    }

 
}

