@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;500&family=Noto+Sans+JP:wght@300;400&family=Poppins:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: rgb(253, 253, 253);
}

/*---------------------Headers and text */

h1,
h2,
h3,
h5,
p {
  color: rgb(88, 86, 86);
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.55;
}

hr {
  width: 80%;
  color: rgb(121, 120, 120);
  margin: 1rem auto;
  border-bottom: solid 0.2rem;
  border-radius: 100%;
  
}

/*------------------Navbar */


 .navbar-collapse {
  text-align: left;
}

/*------------------Home section */

.hero-container {
  background-image: url("../images/header-img3.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 52rem;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.logo-container {
  width: 8rem;
}

.header-logo {
  width: 100%;
}

.logo-row {
  margin: 10rem 0 0;
}

.hero-header {
  font-weight: 700;
  margin: 0 0 0 0.7rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: rgb(14, 89, 160);
}

/* Code for frosted glass effect comes from: 
https://daily-dev-tips.com/posts/css-frosted-glass-credit-card/ */

.glass-container {
  position: relative;
  margin: 8rem 0 0;
  height: 22rem; 
  overflow: hidden;
  opacity: 0;
}

.glass-container:before {
  background-color: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(10px) saturate(80%) contrast(45%) brightness(130%);
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgb(88, 88, 88));
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.subheader-container {
  padding-bottom: 22rem;
}

.subheader-content-container {
  position: relative;
  height: 22rem;
  margin-top: -22rem;
  z-index: 3;
  padding: 0 2rem 0;
}

.hero-subheader {
  margin: 2.5rem 0 0;
  letter-spacing: 0.03rem;
  font-weight: 600;
  color:rgb(80, 78, 78);
}

.subheader-text {
  margin: 0;
  font-weight: 500;
  font-size: .85rem;
}

.home-nav-icon-container {
  width: 60%;
  margin: 0 0 2rem;
}

.home-nav-icon {
  width: 3rem;
  height: 3rem;
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgb(190, 190, 190));
}

.icon-link {
  color: rgb(80, 78, 78);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.02rem;
  font-size: 1.1rem;
}

.icon-link:hover, .icon-link:active {
  color: rgb(129, 125, 125);
}


/*---------------------About section */

.about-container {
  padding: 2rem 1rem 2rem;
}

.portrait-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgb(88, 88, 88));
}

/*------------------ Info section */


.card {
  width: 90%;
  margin: 2rem auto;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgb(155, 151, 151));
  border-radius: 3%;
}

.card h3 {
  font-weight: bold;
}

.info-img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: center 0;
  overflow: hidden;
}

.info-left {
 text-align: left;
}

/*-------------------Testimonials section */

/* Code for speech bubble comes from https://codepen.io/Founts/pen/gmhcl */
.talk-bubble {
  display: inline-block;
  position: relative;
  width: 90%;
  height: auto;
  background: rgb(247, 253, 255);
  border-radius: 60px;
  padding: 1.2rem 0.9rem 0.6rem;
  filter: drop-shadow(0.05rem 0.05rem 0.3rem rgb(158, 157, 157));
}

.tri-right.border.right-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 42px;
  bottom: auto;
  border: 12px solid;
  border-color: rgb(247, 253, 255) transparent transparent rgb(247, 253, 255);
}

.talk-bubble p {
  color: #6b6a5d;
  font-size: 0.85rem;
}

.testimonials-img {
  width: 50%;
}

/*-------------------- Contact section */

.contact-header {
  background-image: url(../images/typing.jpg);
  background-attachment: fixed;
  height: 10rem;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgb(155, 151, 151));
}

.contact-img {
  width: 60%;
 
}

.contact-form {
  padding: 2rem 1rem;
  font-family: 'Poppins', sans-serif;
  border: 0.001rem solid rgb(211, 205, 205);
  border-radius: .5rem;
  box-shadow: .5rem .5rem .5rem rgb(211, 205, 205);
  color: rgb(121, 120, 120);
  
}

::placeholder {
  color: rgb(121, 120, 120);
  font-size: 0.9rem;
}

.contact-info {
  font-size: 1.2rem;
}

.btn-primary {
  background-color:#E7C55A;
  border-color: #E7C55A;
  
}

.btn-primary:hover {
    background-color: rgb(241, 206, 7);
    border-color: rgb(236, 202, 6);
}

/* ---------------------------Footer */

.cta-btn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 15%;

}

/*-------------------- Media Queries */

@media(min-width: 576px) {
  .logo-container {
    width: 10rem;
  }

  .hero-header {
    font-size: 1.6rem;
  }

  .glass-container {
    margin: 11rem 0 0;
  }

  .portrait-img {
    margin: 0;
  }

 /* .carousel {
    width: 70%;
    margin: 0 auto;
  }*/

  .testimonials-img {
    width: 80%;
  }

  .contact-header {
    height: 20rem;
  }


}

@media(min-width: 768px) {
  .logo-container {
    width: 12rem;
  }
  .hero-header {
    font-size: 1.6rem;
    margin: 0 0 0 2rem;
  }
  .subheader-container {
    padding-bottom: 20rem;
  }

  .subheader-text {
    font-size: 1rem;
    margin: 0 auto;
    width: 80%;
  }

  .glass-container {
    height: 24rem;
    margin: 2rem 0 0;
    
  }

  .glass-container:before {
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    margin: 2rem 0;
    box-shadow: 0.05rem 0.05rem 0.05rem  rgb(179, 178, 178);
  }

  .subheader-content-container {
    margin-top: -20rem;
    height: 20rem;
  }

 

.contact-img {
  width: 40%;
}

.contact-form {
  width: 80%;
}

.cta-btn {
  width: 8%;
}
}

@media (min-width: 991px) {

  hr {
    width: 60%;
  }

  .glass-container:before {
    left: 20%;
    width: 60%;
  }

  .subheader-text {
    width: 60%;
  }
 /* .carousel {
    width: 50%;
  }*/
  .testimonials-img {
  width: 60%;
}
.about-text {
  text-align: left;
}

.portrait-img {
   width: 15rem;
   height: 15rem;
}

.talk-bubble {
  width: 75%;
}
}

@media (min-width: 1200px) {
  .glass-container:before {
    left: 32.5%;
    width: 35%;
  }

  .subheader-text {
    width: 35%;
  }
}
